.topicprefix {
	background-color: #EAFFFE;
	border-radius: 20%;
	padding: 1px 5px;
	box-shadow: inset 0 0 2px #000000;
	position: relative;
}

.managetopicprefix .edit {
	float: right;
}
.managetopicprefix textarea {
	height: 5em;
}
#prefix_board {
	margin: 0.5em;
}